<ion-view title="イベント">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader item-input-inset">
    <div class="row">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input id="searchKey" type="search" placeholder="検索文字列を入れてください。" ng-model="searchKey" autocorrect="off" >
      </label> 
      <button class="button button-small" ng-click="clearSearch()">キャンセル</button>
      <button class="button button-small" ng-click="search()">検索</button>
    </div>
  </div>

  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="event in events" class="item item-thumbnail-left" href="#/app/event/{{event.id}}">
	<img src="{{event.image}}" width="100">
        <h2>{{event.name}}</h2>
        <p>期間: {{event.startDate}}〜{{event.endDate}}</p>
        <p>場所: {{event.location.name}}</p>
        <p>説明: {{event.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
